# OpenAI API Key - Required for accessing OpenAI services
OPENAI_API_KEY=

ANTHROPIC_API_KEY=
LLM_PROVIDER=anthropic     # change to "openai" to switch

# LangSmith API Key - Required for tracing and monitoring AI interactions
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


#
SUPABASE_ACCESS_TOKEN =
SUPABASE_PROJECT_ID=
SUPABASE_URL=
SUPABASE_ANON_KEY=

